@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "futura-pt";
		font-weight: 300;
		src: url(./assets/fonts/FuturaPTLight.otf);
	}

	@font-face {
		font-family: "futura-pt";
		font-weight: 400;
		src: url(./assets/fonts/FuturaPTBook.otf);
	}

	@font-face {
		font-family: "futura-pt";
		font-weight: 500;
		src: url(./assets/fonts/FuturaPTMedium.otf);
	}

	@font-face {
		font-family: "futura-pt";
		font-weight: 600;
		src: url(./assets/fonts/FuturaPTDemi.otf);
	}

	@font-face {
		font-family: "futura-pt";
		font-weight: 700;
		src: url(./assets/fonts/FuturaPTBold.otf);
	}

	@font-face {
		font-family: "futura-pt";
		font-weight: 800;
		src: url(./assets/fonts/FuturaPTExtraBold.otf);
	}

	@font-face {
		font-family: "futura-pt";
		font-weight: 900;
		src: url(./assets/fonts/FuturaPTHeavy.otf);
	}
}

* {
	box-sizing: border-box !important;
}

body {
	position: relative;
	width: 100vw;
	margin: 0;
	line-height: 1.5rem !important;
}

.navbar-grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(220px, 1fr));
}

.scrollable-content {
	scrollbar-width: none;
}

.arrow-down::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 100%;
	background-color: transparent !important;
	background: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iOHB4IiBoZWlnaHQ9IjZweCIgdmlld0JveD0iMCAwIDggNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyI+ICAgICAgICA8dGl0bGU+UGF0aCAxPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+ICAgICAgICA8ZyBpZD0iQXJ0Ym9hcmQtMSIgc2tldGNoOnR5cGU9Ik1TQXJ0Ym9hcmRHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC4wMDAwMDAsIC0yLjAwMDAwMCkiIGZpbGw9IiMwMDAwMDAiPiAgICAgICAgICAgIDxwYXRoIGQ9Ik0tNS4wNjU2NDEwNmUtMDgsMiBMMy45OTk5OTk5Nyw3Ljk5OTk5OTk2IEw4LDIgTC01LjA2NTY0MTA2ZS0wOCwyIFoiIGlkPSJQYXRoLTEiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==);
	pointer-events: none;
}
