@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "futura-pt";
		font-weight: 300;
		src: url(./assets/fonts/FuturaPTLight.otf);
	}

	@font-face {
		font-family: "futura-pt";
		font-weight: 400;
		src: url(./assets/fonts/FuturaPTBook.otf);
	}

	@font-face {
		font-family: "futura-pt";
		font-weight: 500;
		src: url(./assets/fonts/FuturaPTMedium.otf);
	}

	@font-face {
		font-family: "futura-pt";
		font-weight: 600;
		src: url(./assets/fonts/FuturaPTDemi.otf);
	}

	@font-face {
		font-family: "futura-pt";
		font-weight: 700;
		src: url(./assets/fonts/FuturaPTBold.otf);
	}

	@font-face {
		font-family: "futura-pt";
		font-weight: 800;
		src: url(./assets/fonts/FuturaPTExtraBold.otf);
	}

	@font-face {
		font-family: "futura-pt";
		font-weight: 900;
		src: url(./assets/fonts/FuturaPTHeavy.otf);
	}
}

* {
	box-sizing: border-box !important;
}

body {
	position: relative;
	width: 100vw;
	margin: 0;
	line-height: 1.5rem !important;
}

.navbar-grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(200px, 1fr));
}
